<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".pages.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.Registration"
            android:screenOrientation="portrait"/>
        <activity android:name=".pages.Main"
            android:screenOrientation="portrait"/>
        <activity android:name=".pages.Events"
            android:screenOrientation="portrait"/>
        <activity android:name=".pages.News"
            android:screenOrientation="portrait"/>
        <activity android:name=".pages.Tours"
            android:screenOrientation="portrait"/>
        <activity android:name=".pages.Guides"
            android:screenOrientation="portrait"/>
        <activity android:name=".pages.FindFriends"
            android:screenOrientation="portrait"/>
        <activity android:name=".pages.PersonalArea"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pages.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".design.Des"
            android:screenOrientation="portrait" />
    </application>

</manifest>